<% if user_signed_in? %>
  <% if current_user.liked_by?(campsite.id) %>
     <td><%= link_to  destroy_like_path(campsite), method: :DELETE, remote: true do %>
     </td> <%= campsite.likes.count %></td>
<%end%>
    <i class="far fa-heart"></i>
  <% else %>
     <td><%= link_to  create_like_path(campsite), method: :POST, remote: true do %>
     </td><%= campsite.likes.count %></td>
  <% end %>
     <i class="fas fa-heart"></i>
     <% end %>
     <%end %>